// app global css in SCSS form
@import "font-awesome-animation/font-awesome-animation.scss";
@import url("./fonts/poppins/Poppins.css");
@import './quasar.variables.scss';

:root {
  --q-transition-duration: 0.3s;
}

* {
  font-family: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.draw-bg-light {
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(1, 150, 204),
    rgb(45, 206, 204)
  ) !important;
}

.draw-bg-dark {
  background-image: linear-gradient(
    180deg,
    rgb(39, 30, 0),
    rgb(1, 39, 53),
    rgb(11, 56, 55)
  ) !important;
}

.gradient-bg-blue {
  background: linear-gradient(to bottom, #0e4b8a, #00c6ff);
}

.gradient-bg-light {
  background: linear-gradient(to bottom, #e6e6e6, #f9d55e);
}

.gradient-bg-dark {
  background-image: linear-gradient(to bottom, $dark-page 0%, $dark 100%);
}

.gradient-bg-1 {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.gradient-bg-2 {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.gradient-bg-3 {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.gradient-bg-4 {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(100, 43, 115, 1) 0%,
    rgba(4, 0, 4, 1) 90%
  );
}

.gradient-bg-5 {
  background-image: linear-gradient(
    111.4deg,
    rgba(7, 7, 9, 1) 6.5%,
    rgba(27, 24, 113, 1) 93.2%
  );
}

.gradient-bg-6 {
  background-image: linear-gradient(
    86.3deg,
    rgba(0, 119, 182, 1) 3.6%,
    rgba(8, 24, 68, 1) 87.6%
  );
}

.carrusel-caption {
  text-align: center;
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.carrusel-caption {
  text-align: center;
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.carrusel-img {
  max-height: 250px;
}

.contentPage {
  width: 100%;
}

.login-page-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url($background1);
}

.uncropped-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.blur-effect {
  backdrop-filter: blur(10px);
  filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}
.login-header{

  min-width: 250px;
  min-height: 50px;
  transform: skewX(-10deg) translateX(-50px);
  -webkit-transform: skewX(-10deg) translateX(-50px);
  -moz-transform: skewX(-10deg) translateX(-50px);
  -ms-transform: skewX(-10deg) translateX(-50px);
  -o-transform: skewX(-10deg) translateX(-50px);
  background-color: $dark;
  margin: 0;
  padding-left:50px;
  border: solid 1px $dark;

  img {
    margin:0 10px 0 0;
    max-height: 40px;
  }

}
.login-header-right{
  min-height: 50px;
  transform: skewX(10deg) translateX(50px);
  background-color: $dark;
  margin: 0;
  padding-right:50px;
  border: solid 1px $dark;
  -webkit-transform: skewX(10deg) translateX(50px);
  -moz-transform: skewX(10deg) translateX(50px);
  -ms-transform: skewX(10deg) translateX(50px);
  -o-transform: skewX(10deg) translateX(50px);
}

.login-footer {
  background-color: #1976d29f;
  margin: 0;
  padding: 0;
}

.login-footer-header{
  min-width: 250px;
  transform: skewX(-10deg) translateX(-50px);
  background-color: $dark;
  margin: 0;
  padding-left:50px;
  border: solid 1px $dark;

  img {
    margin:0 10px 0 0;
    max-height: 40px;
  }

}
.page-footer {
  background-color: #1976d29f;
}
